body {
    max-width: 102.4rem;
    margin: 0 auto;
}
header {
    margin: 5rem 0;
}
section h1 {
    font-size: 9rem;
    color: darkgoldenrod;
    text-align: center;
    margin-top: 5rem;
}
section p {
    font-size: 4.6rem;
    text-align: center;
    margin-top: -3rem;
    color: darkgoldenrod;
}
footer .left ul {
    font-size: 2.5rem;
    line-height: 3rem;
}
.right img {
    height: 11rem;
    width: 35rem;
}