body {
    max-width: 102.4rem;
    margin: 0 auto;
}
header {
    margin: 5rem 0;
}
.mobile-menu {
    top: 17rem;
}
.shoping-car_display {
    top: 17rem;
}
section h1 {
    font-size: 9rem;
    color: darkgoldenrod;
    text-align: center;
    margin-top: 5rem;
}

/* main description */

.main-description p {
    font-size: 3.5rem;
}

.nav-left-section p {
    font-size: 4.6rem;
    text-align: center;
    margin-top: -3rem;
    color: darkgoldenrod;
}
footer .left ul {
    font-size: 3.5rem;
    line-height: 5rem;
}
.right img {
    height: 11rem;
    width: 35rem;
}