* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 32rem;
    background: linear-gradient(#4cbdb4a1, #ffc0cb);

}
.inactive {
    display: none;
    opacity: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 20rem;
    min-width: 32rem;
    font-family: 'Great Vibes', cursive;
}
.nav-left-section {
    min-width: 16rem;
    place-self: center;
}
section h1 {
    font-size: 3rem;
    color: darkgoldenrod;
    text-align: center;
}
.nav-left-section p {
    font-size: 2rem;
    margin-top: -1rem;
    text-align: center;
    color: darkgoldenrod;
}
.nav-right-section {
    min-width: 16rem;
    place-self: center;
}
.nav-right-section ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.nav-right-section .menu-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-right-section .shopingcar-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Menu en Mobile */
.menu-icon {
    display: none;
    cursor: pointer;
}
.mobile-menu {
    position: absolute;
    top: 13rem;
    width: 100%;
    height: auto;
    left: 0;
    border: 0.1rem solid darkgoldenrod;
    border-radius: .6rem;
    background-color: #90d5cf;
}
.mobile-menu ul {
    padding: 0;
    margin: 2.4rem 0 0 2.4rem;
    list-style: none;
}
.mobile-menu li {
    margin-bottom: 2.4rem;
}
.mobile-menu a {
    text-decoration: none;
    color: darkgoldenrod;
    font: menu;
}
/* carrito de compras */
.shopingcar-icon {
    display: none;
    cursor: pointer;
}
.shopingcar-menu {
    position: absolute;
    top: 13rem;
    width: 100%;
    height: auto;
    left: 0;
    border-radius: .6rem;
    border: 0.1rem solid darkgoldenrod;
    background-color: #90d5cf;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin: 2.4rem 0;
    align-items: center;
}
.shopingcar-menu figure {
    margin: 0.4rem 0 0 2.4rem;
}
.shopingcar-menu p {
    font: menu;
    color: #b8860b;
}
.shopingcar-menu figure img {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
}
.close-car-icon {
    margin: 0  2.4rem 0 0;
}
/*main section*/

/*main picture*/
.main-picture {
    min-width: 100%;
    height: 100%;
}
.main-picture figure img {
    display: inline-block;
    width: -webkit-fill-available;
    height: auto;
    border-radius: 2rem 2rem;
    margin: 0 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*main category*/

.main-category {
    height: 100%;
    width: 100%;
}
.main-category ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    grid-gap: 2rem;
    margin: 2rem;
    list-style: none;

}
.main-category ul li {
    background-color: #efefef;
    border-radius: 1rem;
}
.main-category-shoes {
    grid-column: 1 / 3;
    grid-row: 1;
}
.main-category-sportshoes {
    grid-column: 3 / 4;
    grid-row: 1;
}
.main-category-phones {
    grid-column: 1 / 2;
    grid-row: 2;
}
.main-category-four {
    grid-column: 2 / 4;
    grid-row: 2;
}
.main-category-five {
    grid-column: 1 / 3;
    grid-row: 3;
}
.main-category-six {
    grid-column: 3 / 4;
    grid-row: 3;
}
.main-category_shoes {
    display: inline-block;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-category_sportshoes {
    display: inline-block;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-category__phones {
    display: inline-block;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*main description*/

.main-description p {
    color: darkgoldenrod;
    margin: 2rem;
    font-size: 2rem;
    font-weight: 100;
}

/**/

.main-info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    grid-gap: 2rem;
    margin: 2rem;
    list-style: none;
}
.main-info ul li {
    background-color: #efefef;
    border-radius: 1rem;
}
.main-info-promo {
    grid-column: 1 / 2;
    grid-row: 1;
}
.main-info-product__pictures {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.main-info-promo__2 {
    grid-column: 1 / 2;
    grid-row: 2;
}
.main-info-location {
    grid-column: 1 / 3;
    grid-row: 3;
}

/*footer*/

footer {
    display: flex;
    width: 100%;
    height: 150px;
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 1rem 0;
}
.left a {
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: darkgoldenrod
}
.right img {
    display: inline-block;
    width: 15rem;
    height: 6rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}