* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 32rem;
    background: linear-gradient(#4cbdb4a1, #ffc0cb);

}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 20rem;
    min-width: 32rem;
    font-family: 'Great Vibes', cursive;
}
.nav-left-section {
    min-width: 16rem;
    place-self: center;
}
section h1 {
    font-size: 3rem;
    color: darkgoldenrod;
    text-align: center;
}
section p {
    font-size: 2rem;
    margin-top: -1rem;
    text-align: center;
    color: darkgoldenrod;
}
.nav-right-section {
    min-width: 16rem;
    place-self: center;
}
.nav-right-section ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.nav-right-section ul li button {
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
}

/*main section*/


/*main picture*/
.main-picture {
    min-width: 100%;
    height: 100%;
}
.main-picture figure img {
    display: inline-block;
    width: -webkit-fill-available;
    height: auto;
    border-radius: 2rem 2rem;
    margin: 0 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*main category*/

.main-category {
    height: 100%;
    width: 100%;
}
.main-category ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    grid-gap: 2rem;
    margin: 2rem;
    list-style: none;

}
.main-category ul li {
    background-color: #efefef;
    border-radius: 1rem;
}
.main-category-shoes {
    grid-column: 1 / 3;
    grid-row: 1;
}
.main-category-sportshoes {
    grid-column: 3 / 4;
    grid-row: 1;
}
.main-category-phones {
    grid-column: 1 / 2;
    grid-row: 2;
}
.main-category-four {
    grid-column: 2 / 4;
    grid-row: 2;
}
.main-category-five {
    grid-column: 1 / 3;
    grid-row: 3;
}
.main-category-six {
    grid-column: 3 / 4;
    grid-row: 3;
}

/*main description*/

.main-description {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

/**/

.main-info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    grid-gap: 2rem;
    margin: 2rem;
    list-style: none;
}
.main-info ul li {
    background-color: #efefef;
    border-radius: 1rem;
}
.main-info-promo {
    grid-column: 1 / 2;
    grid-row: 1;
}
.main-info-product__pictures {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.main-info-promo__2 {
    grid-column: 1 / 2;
    grid-row: 2;
}
.main-info-location {
    grid-column: 1 / 3;
    grid-row: 3;
}

/*footer*/

footer {
    display: flex;
    width: 100%;
    height: 150px;
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 1rem 0;
}
.left a {
    text-decoration: none;
    color: black
}