header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 20rem;
    min-width: 32rem;
    font-family: 'Great Vibes', cursive;
}
.nav-left-section {
    min-width: 16rem;
    place-self: center;
}
.mobile-menu {
    position: absolute;
    top: 12rem;
    width: auto;
    height: auto;
    left: auto;
    border-radius: .6rem .6rem;
    background-color: #90d5cf;
}
.shoping-car_display {
    top: 12rem;
    width: auto;
    height: auto;
    left: auto;
}
section h1 {
    font-size: 6rem;
    color: darkgoldenrod;
    text-align: center;
}
.nav-left-section p {
    font-size: 3.6rem;
    text-align: center;
    color: darkgoldenrod;
}

/* main description */

.main-description p {
    font-size: 3.5rem;
}
/*main section*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-picture {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 2rem;
}
.main-category {
    grid-column: 1 / 2;
    grid-row: 1;
}
.main-description {
    grid-column: 1 / 2;
    grid-row: 2;
}
.main-info {
    grid-column: 2 / 3;
    grid-row: 2;
}

/*footer*/

footer .left ul {
    font-size: 2.5rem;
    line-height: 2.8rem;
}
.right img {
    height: 8rem;
    width: 26rem;

}